{{! Nav Bar}}
<nav class="z-depth-0" id="navbar">
  <div class="nav-wrapper grey darken-3">
    <a href="#!" class="brand-logo center" id="brand">Toolz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login" data-target="login" class="btn waves-effect waves-light grey darken-2">Login</a></li>
    </ul>
    <form class="hide-on-med-and-down" id="search-form" action="/search/chain">
      <div class="input-field" style="max-width: 400pt;">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        {{!-- <button type="submit">Search</button> --}}
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/login" data-target="login">Login</a></li>
</ul>

{{!-- Top of landing Page --}}

<div class="tools-image">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 center-align">
        <h3 class="callout">Share tools. Rent tools. Get stuff done.</h3>
      </div>
    </div>
    {{! Row container for power tools cards, linking to individual routes within each page}}


  </div>
</div>

{{! Offer a tool / about section of web page}}

<div id="offer">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3 class="heading-text rent-text">Offer your tools for rent</h3>
        <p class="rent-text">Remember that tile saw you bought a few years ago? Chances are its just sitting there
          collecting dust.</p><br>
        <p class="rent-text"><strong>Why not rent it out for a day or two to make some extra cash?</strong></p>
        <br>
        <p class="rent-text">Toolz has created a community of contractors, craftsman, and hobbyists that own every tool
          you can think of, for every specialty project you can imagine. Toolz allows you to borrow the tools you might
          buy and use only once - and rent out the tools that are collecting dust.</p>
      </div>
      <div class="col s12 m6">
        <h4 class="heading-text">Enter your info:</h4>

        <form action="POST">

          <div class="input-field">
            <input id="first-name" data-renter-id="1" type="text" placeholder="Tim 'The Toolman' Taylor">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-field">
            <input id="tool-name" type="text">
            <label for="tool-name">Tool</label>
          </div>

          <div class="input-field">
            <select id="tool-category">
              <option value="" disabled selected>Choose tool category</option>
              <option value="hand tools">Hand Tools</option>
              <option value="power tools">Power Tools</option>
              <option value="machine tools">Machine Tools</option>
            </select>
            <label for="tool-category">Category</label>
          </div>

          <div class="input-field">
            <textarea id="tool-description" class="materialize-textarea" data-length="120"></textarea>
            <label for="tool-description">Description</label>
          </div>
          <div class="input-field">
            <textarea id="tool-image" class="materialize-textarea" data-length="120"></textarea>
            <label for="tool-image">Image</label>
          </div>

          <div class="input-field">
            <input id="tool-price" type="text" value="0">
            <label for="tool-price">Rent Price</label>
          </div>
          <button class="btn waves-effect waves-light tool-submit white-text" type="submit" id="post-tool"
            name="action">Submit
            <i class="material-icons right">build</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{{! Current tools div}}

<div class="tools-image2">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="heading-text-white bump">Browse Tools by Category</h3>
      </div>
    </div>
    <div class="row">
      <div class="center-cards">
        {{! Garden tools}}

        <div class="card col s3 lead-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/garden.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Garden Tools<i
                class="material-icons right">more_vert</i></span>
            <p><a href="Tools/Garden+Tools">View All</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Garden Tools<i
                class="material-icons right">close</i></span>
            <p>Get your lawn looking way better than your neighbor's lawn!</p>
          </div>
        </div>

        {{! Power Tools}}

        <div class="card col s3 lead-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/drill.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Power Tools<i
                class="material-icons right">more_vert</i></span>
            <p><a href="tools/Power+Tools">View All</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Power Tools<i class="material-icons right">close</i></span>
            <p>Plug it in, make loud noises, don't get hurt</p>
          </div>
        </div>

        {{!Hand Tools}}

        <div class="card col s3 lead-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/hand.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Hand Tools<i
                class="material-icons right">more_vert</i></span>
            <p><a href="tools/Hand+Tools">View All</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Hand Tools<i class="material-icons right">close</i></span>
            <p>Chisels, Hammers, Screwdrivers, OH MY!! Life before electricity</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      <p>© 2019 Copyright Toolz</p>
      <a class="white-text text-lighten-4 right" href="https://github.com/danalittleskier/ProjectTwo">Toolz Repo</a>
      <span> | </span>
      <a class="white-text text-lighten-4 right" href="/admin">Admin</a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/tool.js"></script>