<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login - Toolz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
<nav class="z-depth-0" id="navbar">
  <div class="nav-wrapper grey darken-3">
    <a href="#!" class="brand-logo center" id="brand">Toolz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login" data-target="login"
          class="btn waves-effect waves-light grey darken-2">Login</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/login" data-target="login">Login</a></li>
</ul>
    <div class="tools-image2">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card grey darken-3 form-padding">
                        <h2 class="heading-text-white">Login</h2>
                        <form class="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                            <button type="submit" class="btn waves-effect waves-light grey darken-2">Login <i
                                    class="small material-icons"> <i
                                        class="small material-icons">person_add</i></i></button>
                        </form>
                        <br />
                        <p>Or sign up <a href="/signup">here > </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

</body>

</html>