<!DOCTYPE html>
<html lang="en">

<head>
    <title>Members - Toolz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="#!" class="brand-logo center">ToolZ</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="navbar-brand" href="/logout">Logout</a></li>
                </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
  <li><a href="/logout" data-target="login">Logout</a></li>
</ul>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <br>
                <h2>Welcome <span class="member-name"></span>&nbsp<span class="member-last"></span></h2>
                <br>
                <h5>Address: <span class="member-zip"></span></h5>
                <h5>Username: <span class="member-user"></span></h5>
                <br>
                <h4>Don't be a <b>tool</b> and go get some ToolZ <a href="/">here!</a></h4>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/members.js"></script>

</body>

</html>