<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup - Toolz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Spectral&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="#!" class="brand-logo center">ToolZ</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login" data-target="login" class="btn waves-effect waves-light grey darken-2">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="tools-image2">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card blue darken-4 form-padding">
                        <h2 class="heading-text-white">Sign Up</h2>
                        <form class="signup">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" id="username-input" placeholder="Good Ol' Joey Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Last Name</label>
                                <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ZIP Code</label>
                                <input type="text" class="form-control" id="zip-input" placeholder="ZIP Code">
                            </div>
                            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span> <span class="msg"></span>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light blue darken-2">Sign Up <i
                            class="small material-icons">person_add</i></button>
                        </form>
                        <br />
                        <p>Or log in <a href="/login">here ></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>


</body>

</html>