<div class="tools-image2">
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title">{{tool.name}}</span>
                    <p>Tool ID #{{tool.id}}</p>
                    <p><strong>Description </strong> {{tool.description}}</p>
                    <p><strong>Price: </strong> ${{tool.price}}</p>
                </div>
                <div class="card-action">
                    <a class="white-text" href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>