

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <p><strong>Tool ID </strong> {{tool.id}}</p>
                    <p><strong>Type </strong> {{tool.name}}</p>
                    <p><strong>Description </strong> {{tool.description}}</p>
                    <p><strong>Price </strong> {{tool.price}}</p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>

</div>
