html, body, .login-box {
  height: 100%;
}

/* Minimalist CSS reset > https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.center-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.tools-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tools-image1.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tools-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tools-image2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tools-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tools-image1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tool-card {
  padding-left: 20px;
}

.form-padding {
  padding-bottom: 30px; 
  padding-left: 20px;
}

.heading-text {
  margin: 20px 0 30px 0;
  color: #424242
}

.heading-text-white {
  margin-top: 50px;
  padding-top: 20px;
  color: white;
}

.callout {
  color: white;
  font-family: 'Carter One', cursive;
  margin-top: 25%;
}

.tool-submit {
  background-color: #728F7A;
}

.tool-submit:hover{
  background-color: #424242;
}

.lead-card {
  /* opacity: .8; */
  margin-top: 2rem;
}

.bump {
  margin-top: 200px;
}

.rent-text {
  padding-right: 40px;
  color: #424242;
}

.brand-logo, h1, h2, h3, h4, #brand {
  font-family: 'Carter One', cursive;
} 

a, p, span {
  font-family: 'Spectral', serif;
}

#offer {
  padding: 65px 0;
}

.center-me {
  padding-left: 12%;
}

    /* Inactive/Active Default input field color */
    .input-field input[type]:not([readonly]),
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
        border-bottom: 1px solid #728F7A;
        box-shadow: 0 1px 0 0 #728F7A;
    }

    /* Inactive/Active Default input label color */
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
        color: #728F7A;
    }

    /* Active/Inactive Invalid input field colors */
    .input-field input[type].invalid,
    .input-field input[type].invalid:focus,
    .input-field textarea.invalid,
    .input-field textarea.invalid:focus {
        border-bottom: 1px solid #e57373;
        box-shadow: 0 1px 0 0 #e57373;
    }

    /* Active/Inactive Invalid input label color */
    .input-field input[type].invalid:focus+label,
    .input-field input[type].invalid~.helper-text::after,
    .input-field input[type].invalid:focus~.helper-text::after, 
    .input-field textarea.invalid:focus+label,
    .input-field textarea.invalid~.helper-text::after,
    .input-field textarea.invalid:focus~.helper-text::after {
        color: #e57373;
    }

    /* Active/Inactive Valid input field color */
    .input-field input[type].valid,
    .input-field input[type].valid:focus,
    .input-field textarea.valid,
    .input-field textarea.valid:focus {
        border-bottom: 1px solid #728F7A;
        box-shadow: 0 1px 0 0 #728F7A;
    }

    /* Active/Inactive Valid input label color */
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
        color: #728F7A;
    }

    input.select-dropdown:focus {
      border-bottom: 1px solid #728F7A;
      -webkit-box-shadow: 0 1px 0 0 #728F7A;
              box-shadow: 0 1px 0 0 #728F7A;
    }